.App {
  /* background-color: rgba(169, 188, 206, 0.342); */
  background-color: lavender;
}

/* .head {
  position: relative;
} */

.navstyle {
  text-decoration: none;
  color: khaki;
  font-size: medium;
  padding: 5px 15px;
}

.navstyle:hover {
  background-color: rgba(245, 222, 179, 0.253);
  color: white;
  border-radius: 8px;
}

.header {
  background-color: palevioletred;
  padding: 20px 20px;

  color: khaki;
  position: fixed;
  width: 100%;
}

.top-space {
  padding-top: 70px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  background-color: rgba(216, 112, 147, 0.287);
  padding-top: 80px;
  padding: 0 100px;
}

.banner img {
  width: 90%;
}

.banner-title {
  color: green;
  font-size: 50px;
}

.banner-text {
  padding: 50px;
  color: goldenrod;
}

.dash-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.dash-side {
  background-color: aquamarine;
  padding-top: 50px;
}

.dash-side li {
  list-style: none;

  /* background-color: blanchedalmond; */
  margin: 20px;
}

.dash-big {
  background-color: rgba(216, 112, 147, 0.246);
  padding-bottom: 100px;
}

.dash-title {
  background-color: darkblue;
  color: aliceblue;
  padding: 20px;
}

.t-order {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(216, 112, 147, 0.24);
}

/* input {
  width: 500px;
  height: 25px;
} */

.form-style {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.form-style input {
  margin-bottom: 20px;
}

.cont {
  margin: 10px 30px;
  padding: 20px;

  border-radius: 5px;
  background-color: honeydew;
}
.prd-cont {
  padding: 20px;

  border-radius: 5px;
  background-color: honeydew;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.single {
  background-color: rgba(255, 182, 193, 0.322);
  padding: 10px;
  box-shadow: rgba(128, 128, 128, 0.452) 10px 10px 5px;
  border-radius: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 100;
  backdrop-filter: 3px;
  color: black;
}

table td {
  height: 50px;
  padding: 10px;
}

table {
  text-align: center;
}

table th {
  background-color: lightsalmon;
  padding: 10px;
  text-align: center;
}

table tr:nth-child(2n-1) {
  background-color: rgba(171, 173, 131, 0.52);
}
table tr:nth-child(2n) {
  background-color: lightcyan;
}

@media (max-width: 700px) {
  .banner {
    grid-template-columns: 1fr;
    /* margin-bottom: 20px;
    
    padding-top: 80px; */
    padding: 0;
  }
  .cont {
    margin: 10px 0px;
    padding: 0px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .top-space {
    padding-top: 150px;
  }

  .t-order {
    width: 100%;
    padding: 0;
  }

  .dash-grid {
    grid-template-columns: 1fr;
  }
}
